# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Other
*.pyc
.DS_Store
*.db